/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  ul{
    list-style: none;
  }

  body {
    color: #98999c;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8;
  }

  .clear{
    zoom: 1;
  }
  
  .clear::after{
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }


  /* Layout */
  
  .container .inner{
      border-bottom: 2px solid #e7e9eb;
      padding: 64px 0 114px;
    }
    
    .container .inner:last-child{
        border-bottom: none;
    }
    
    .container .inner .box-text{
        text-align: center;
    }
    
    .container .inner .box-text h3{
    color: #21262a;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 17px;
}

.container .inner  .detail{
    margin-bottom: 30px;
    
}

.container .box-text .button button{
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    font-size: 0.8rem;
    font-size: 600;
    height: 41px;
    line-height: 41px;
    opacity: 1;
    padding: 0 23px;
    text-decoration: none;
    transition: 0.3 opacity;
    border: none;
}

.container .box-text .button button.blue{
    background-color: #75bee1;
}

.container .button button.green{
    background-color: #95d075;
}

.container .button button:hover{
    opacity: 0.8;
}

.container .box-photo{
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.container .box-photo img{
    max-width: 80%;
}


.container .right{
    order: 1;
}

.container .left{
    order:0;
}

@media screen and (min-width:375px) {
    
    .container{
        margin: 30px 30px;
        padding: 30px auto;
    }

    .container .inner{
        display: grid;
        grid-template-rows: auto auto;
    }
}  
@media screen and (min-width:768px) {
    .container{
        margin: 30px 30px;
        padding: 30px 30px;
    }
    
    .container .inner{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .container .inner .box-text{
        text-align: left;
    }
}
