*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
}



.clearfix{
    zoom: 1;
}

.clearfix::after{
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* layout */

.container{
    list-style: none;
    padding: 3%;
}

.container li{
    background-color: #f8f8f8;
    float: left;
    margin: 15px;
    padding: 25px 15px;
    text-align: center;
    max-width: 290px;
}

.container li .icon{
    border: 2px solid #399;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    line-height: 71px;
    display: inline-block;
    font-size: 28px;
    margin-bottom: 15px;
    color: #399;
}



.container li h3{
    margin-bottom: 30px;
}

.container li .info{
    color: #5b5b5b;
    font-size: 12px;
    letter-spacing: 0;
    word-spacing: 0;
}

@media screen and (min-width:320px) {
    
    .container {
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .container{
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
    }
    
    .container li{
        width: 330px;
    }
}

@media screen and (min-width:1024px) {
    .container{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-;
        list-style: none;
    }
}